*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

}
.navbar{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
}




























.about-me{
  background-color: blue;
}
.contact-me{
  background-color: blueviolet;
}
footer{
  background-color: chartreuse;
}
.endnote{
  background-color: chocolate;
}
.contact-form{
  background-color:darkolivegreen
}
.skills{
  background-color: blueviolet;
}
.edu{
  background-color: blue;
}