*
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;


}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}



 .btn{
  border: 2px solid blue;
  background: transparent;
  margin: 20px 0px 20px;
  padding: 10px 25px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 25px;
  color: blue;
  cursor: pointer;
  transition: all 0.3s ease;
   
 }
 .btn:hover{
  color: blue;
  background-color: #fff;
  border: 2px solid black;
  font-weight: lighter;
  
 }
.header{
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: whitesmoke;
 
  

}
.navbar{
  display: inline-flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;

}
.navbar .logo {
 margin: 12px;
 
}
.navbar .logo a {
  color: black;
  font-size: 38px;
  font-weight: 600;
  font-family:'poppin';
  text-decoration: none;
 
}

.navbar .logo a span {
  color: blue;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}
.navbar nav{
  margin: 7px;
  
}
.navbar nav ul li{
  display: inline-block;
  padding: 22px;
  list-style: none;
}
.navbar nav ul li a{
 text-decoration: none;
 font-size: 25px;
 color: blue;
 position:relative;
 /* transition: all 0.3s ease; */
}
nav ul li a::after{
  content: '';
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  transition: width 0.3s;

 }
 nav ul li a:hover::after{
   width: 100%;
  
 }
.navbar nav ul li a:hover{
  color: black;
  font-weight: lighter;
   
 } 
.navbar .btn{
  margin: 25px;
  font-size: 20px;
  border: 2px solid blue;
  background: transparent;
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  color: blue;
  cursor: pointer;
  transition: all 0.3s ease;
 }
 
 .navbar .btn:hover{
  color: black;
 background-color: whitesmoke;
 border: 2px solid black;
 font-weight: lighter;
  
   
 }
/*----header part-*/
.header .content-box{
  display: flex;
  margin-top: 7em;
  align-items: center;
  justify-content: space-between;
}
.header .content-box img {
  height: 550px;
  border-radius: 50%;
  margin-right: 10rem;
  margin-top: 11.5rem;
  
}
.header .content-box .content{
 margin-top: 11.5rem;
 align-items: center;
 margin-left: 9rem;
 display: block;
 align-items: center;
 
}
.header .content-box .content h4{
  letter-spacing: 3px;
	font-size: 39px;
  padding: 12px;
  
 }
 .header .content-box .content h1{
	color: blue;
	margin: 20px 0px 20px;
	font-size: 75px;
 }
 .header .content-box .content h3{
	color: black;
	font-size: 29px;
	margin-bottom: 50px;
}
.text-box a span{
  font-size: 30px;
  line-height: 15px;
  margin-left: 10px;


}
/*-----about-----*/
.about-me {
  display: flex;
  margin-top: 39px;

}
.about-me .about-text .bton{
  margin:0;
  border: 2px solid blue;
   padding:7px 10px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 25px;
  color: blue;
  font-weight: lighter;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: white;
  margin-left: 190px;
  align-items: center;
  
 }
 .about-me .about-text .bton:hover{
 color: black;
 background-color: whitesmoke;
 font-weight: lighter;
 border:2px solid black;
  
 }
.about-me img {
 margin: 5rem 8rem;

}
.about-me .about-text{
  margin-right: 10rem;
  background-color: white;
  box-shadow: 4px 2px 6px 6px rgba(0,0,250,0.3);
  border-radius: 10px;
  height: 90vh;


 
}
 
.about-me .about-text h2{
text-align: center;
font-size: 49px;
letter-spacing: 3px;
padding: 12px;
color: blue;
 
}
.about-me .about-text  h5{
  text-align: center;
  letter-spacing: 3px;
  font-size: 34px;
  color: black;
  padding: 12px;
  
  }
  .about-me .about-text  p{
    text-align: center;
    letter-spacing: 4px;
    font-size: 24px;
    color: black;
    text-align: left;
    padding: 12px;
    line-height: 1.9;
    
    }
.about-me .about-text  span{
  text-align: center;
  font-size: 32px;
  color: blue;
  
  }
  /*----contact me section---*/
  .contact-me {
    border-radius: 12px;
    height: 25vh;
    margin: 39px 0px 0px 0px;
    background-color: whitesmoke;
    
  }
  .contact-me p {
   color: black;
   font-size: 36px;
   letter-spacing: 4px;
   padding: 36px 8px;
   text-align: center;
  }
  .contact-me .button-two {
    background-color:transparent;
     padding:7px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 25px;
    color: blue;
    border: 2px solid blue;
    transition: all 0.3s ease;
    cursor: pointer;
   }

   .contact-me .button-two:hover{
  color: black;
  background-color: #fff;
  border: 2px solid black;
  font-weight: lighter;
 
  }
   /*----footer section---*/
   
.footer {
    height: 40vh;

    
  } 
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 3rem;
    padding: 0px 10px 10px 10px;
    color: black;

  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.9rem;
    color: blue;
    padding: 1rem 0;
    margin-left: 25px;
  }
  
  .footer .box-container .box a i {
    color: blue;
    padding-right: .5rem;
  }
  
  .footer .box-container .box a:hover {
    color: black;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  
  }
  
   .credit {
    text-align: center;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    background-color: black;
   }
    

   label #btn,
   label #cancel{
       color:black;
       font-size: 30px;
       float: right;
       line-height: 80px;
       margin-right: 40px;
       cursor: pointer;
        display: none;
    } 
    #check{
      display: none;
    }
  /*-------conactact form section----*/
  
 /*media query*/

 @media (max-width:1118px){

  .logo{
   left: 12%;
    }
   
    
  } 
  @media (max-width:944px){
    
    .logo{
     left: 12%;
     top: 20px;
     width: 10px;
      }
     .navbar nav ul li a{
        font-size: 25px;
         
      
        }
     
      
    } 
    @media (max-width:860px){
      .navbar{
        background-color: red;
      }
        .navbar nav ul li a{
          font-size: 15px;
          }
          .navbar .btn{
            margin: 10px;
            font-size: 15px;
            border: 1px solid blue;
            background: transparent;
            padding:6px;
            justify-content: center;
            border-radius: 10px;
            text-decoration: none;
            font-size: 15px;
            color: blue;
            cursor: pointer;
            transition: all 0.3s ease;
           }
           
          label #btn{
            display: block;
          }
          .navbar nav ul  {
         position: fixed;
         width: 100%;
         height: 40vh;
         background: #fff;
         top:70px;
         left: 0%;
         opacity: 0.9;
         text-align: center;
         transition: all .5s;
         z-index: 1;
         border: 1px solid whitesmoke;
         border-radius: 10px;
        
        }
       
        .navbar nav ul li{
          display: block;
       
         line-height: 5px;
        
        }
       
        .navbar nav ul li a{
         font-size: 20px;
        
        }
     #check:checked ~  .navbar nav ul li{
          left: -100;
        }
           
   
        #check:checked ~  label #btn{
          display: none;

        
        }
         
        #check:checked ~ label #cancel{
          display: block;
        }  
      }