*
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: .2s linear;
  transition: .2s linear;

}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}
 .btn{
  margin: 20px 0px 20px;
  background-color: blue;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  transition: all 0.3s ease;
   
 }
 .btn:hover{
  color: blue;
  background-color: #fff;
  border: 2px solid blue;
  font-weight: lighter;
  
 }
.header{
  position: relative;
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
 
  

}
.navbar{
  display: inline-flex;
  width: 100%;
  background-color: #fff;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 3px solid whitesmoke;

}
.navbar .logo {
 margin: 12px;
 
}
.navbar .logo a {
  color: black;
  font-size: 38px;
  font-weight: 600;
  font-family:'poppin';
  text-decoration: none;
 
}

.navbar .logo a span {
  color: blue;
  transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}
.navbar nav{
  margin: 7px;
  
}
.navbar nav ul li{
  display: inline-block;
  padding: 22px;
  list-style: none;
}
.navbar nav ul li a{
 text-decoration: none;
 font-size: 25px;
 color: blue;
 transition: all 0.3s ease;
}
.navbar nav ul li a:hover{
  color: black;
  font-weight: lighter;
   
 }
.navbar .btn{
  margin: 25px;
  background-color: blue;
  padding:7px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  transition: all 0.3s ease;
   
 }
 .navbar .btn:hover{
  color: blue;
 background-color: #fff;
 border: 2px solid blue;
 font-weight: lighter;
  
   
 }
/*----header part-*/
.header .content-box{
  display: flex;
  margin-top: 7em;
  align-items: center;
  justify-content: space-between;
}
.header .content-box img {
  height: 600px;
  border-radius: 330px;
  margin-right: 10rem;
  
}
.header .content-box .content{
 margin-top: 25px;
 align-items: center;
 margin-left: 7rem;
 
}
.header .content-box .content h4{
  letter-spacing: 3px;
	font-size: 39px;
  padding: 12px;
  
 }
 .header .content-box .content h1{
	color: blue;
	margin: 20px 0px 20px;
	font-size: 75px;
 }
 .header .content-box .content h3{
	color: black;
	font-size: 29px;
	margin-bottom: 50px;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/*-----about-----*/
.about-me {
  display: flex;
  margin-top: 40px;
}
.about-me .about-text .bton{
  margin: 25px;
  background-color: blue;
   padding:7px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-align: center; 
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
  
 }
 .about-me .about-text .bton:hover{
 color: blue;
 background-color: #fff;
 border: 2px solid blue;
 font-weight: lighter;
  
 }
.about-me img {
 height: 200px;
 width: 100%
}
.about-me .about-text{
  margin-right: 10rem;
  background-color: white;
 
}
 
.about-me .about-text h2{
text-align: center;
font-size: 42px;
letter-spacing: 3px;
 
}
.about-me .about-text  h5{
  text-align: center;
  letter-spacing: 3px;
  font-size: 32px;
  color: black;
  
  }
.about-me .about-text  span{
  text-align: center;
  font-size: 32px;
  color: blue;
  
  }
  /*----contact me section---*/
  .contact-me {
    border-radius: 12px;
    height: 25vh;
    margin: 12px 8px;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
  }
  .contact-me p {
   color: black;
   font-size: 36px;
   letter-spacing: 4px;
   padding: 36px 8px;
   text-align: center;
  }
  .contact-me .button-two {
    background-color: blue;
     padding:7px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 29px;
    color: white;
    font-weight: bolder;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
   }

   .contact-me .button-two:hover{
  color: blue;
  background-color: #fff;
  border: 2px solid blue;
  font-weight: lighter;
 
  }
   /*----footer section---*/
   
.footer {
  border-bottom: 2px solid whitesmoke;
    height: 43vh;
    
  } 
  
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 1.5rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 3rem;
    padding: 1 rem 0;
    color: black;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 1.9rem;
    color: blue;
    padding: 1rem 0;
  }
  
  .footer .box-container .box a i {
    color: blue;
    padding-right: .5rem;
  }
  
  .footer .box-container .box a:hover {
    color: black;
  }
  
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  
  }
  
   .credit {
    text-align: center;
    /* margin-top: 1.8rem; */
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: white;
    text-align: center;
    background-color: black;
    
  /*-------conactact form section----*/
  
  
  @media (max-width: 1200px) {
    .header {
      padding: 2rem;
    }
  
    section {
      padding: 3rem 2rem;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
      scroll-padding-top: 7rem;
    }

/*----add media query---*/

@media (max-width: 1104px) {
  .header{
  position: relative;
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
     
  }
}

@media (max-width: 991px) {
  .max-width {
      padding: 0 50px;
  }
  .navbar{
    display: inline-flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 3px solid whitesmoke; 
}
.navbar .logo {
  margin: 12px;
  
 }
 .navbar .logo a {
   color: black;
   font-size: 30px;
   font-weight: 600;
   font-family:'poppin';
   text-decoration: none;
  
 }
 
 .navbar .logo a span {
   color: blue;
   transition: all 0.3s ease;
 }
 
 .navbar.sticky .logo a span {
   color: #fff;
 }
 .navbar nav{
   margin: 7px;
   
 }
 .navbar nav ul li{
   display: inline-block;
   padding: 10px;
   list-style: none;
 }
 .navbar nav ul li a{
  text-decoration: none;
  font-size: 20px;
  color: blue;
 }
 
 .navbar .btn{
   margin: 10px;
   background-color: blue;
   padding: 17px;
   border-radius: 18px;
   text-decoration: none;
   font-size: 15px;
   color: white;
   font-weight: bolder;
    
  }

  .header .content-box{
  display: inline;
    margin-top: 4em;
    align-items: center;
    justify-content: space-between;
  }
  .header .content-box img {
    height: 300px;
    border-radius: 330px;
    margin-left: 4.5rem;
    margin-top: 4em;
    
  }
  .header .content-box .content{
   margin-top: 9rem;
   align-items: center;
   margin-left: 7rem;
   
  }
  .header .content-box .content h4{
    letter-spacing: 3px;
    font-size: 29px;
    padding: 9px;
    
   }
   .header .content-box .content h1{
    color: blue;
    margin: 20px 0px 20px;
    font-size: 35px;
   }
   .header .content-box .content h3{
    color: black;
    font-size: 29px;
    margin-bottom: 50px;
  }
  .btn{
    margin: 20px 0px 20px;
    background-color: blue;
    padding: 8px;
    border-radius: 18px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bolder;
     
   }
}



























.endnote{
  background-color: chocolate;
}
.contact-form{
  background-color:darkolivegreen
}
.skills{
  background-color: blueviolet;
}
.edu{
  background-color: blue;
}